$form_color: #19203A;
$box_color: #153486;
$box_button_color: #DC3571;
$select_color: #EEF2F9;
$form_text: #8490A5;
$button_bgc: #2C61E9;
$box_text: #42CBD3;
$description_text: #B5C9FF;
$tile_text: #8B97AC;
$news_bg: #FAFBFD;
$news_color: #0C3B8D;